@model List<ExchangeViewModel.Exchange_Rates>
@{
    Layout = null;
}
<link href="~/lib/bootstrap/dist/css/bootstrap-grid.rtl.min.css" rel="stylesheet" />
<div class="container">
    <br /> <br />
    <table class="tabl table-hover">
        <tr>
            <th>Dövüz</th>
            <th>miktar</th>
        </tr>
        @foreach(var item in Model)
        {
            <tr>
                <td>@item.currency</td>
                <td>@item.exchange_rate_buy</td>
            </tr>
        }
    </table>
</div>